@import url(http://fonts.googleapis.com/css?family=Open+Sans);

 
body {
  background-color: #fff;
  background: url("/IMG/travelworthy-backdrop.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Open Sans", sans-serif;
}

#one{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly
}

h1 {
  background: #1e1b1e url("/IMG/travelworthy-logo.gif") no-repeat center;
  width: 230px;
  height: 230px;
  
  text-indent: 100%;

  overflow: hidden;
  
}

h2 {
  margin: 1.75em 0 0 0;
  color: #adffda;
  font-weight: normal;
}

h2 + p {
  margin: 0.25em 0 0 0;
}
p + p {
  margin: 0;
}
p + h2 {
  margin: 10px 0 0 0;
}

#message {
  
  
  background-color: #ffb87a;
  color: #1e1b1e;
  width: 170px;
  padding: 18px 30px;
  text-align: center;
  margin-bottom: 15px
}

#info {
  background-color: #1e1b1e;
  color: #fff;
  width: 200px;
  padding: 0 15px;
  text-align: center;
  min-height: auto;
  margin: 5px
  
}

#info2 {
  background-color: #1e1b1e;
  color: #fff;
  width: 200px;
  height: 600px;
  padding: 0 15px 15px;
  text-align: center;
 
  margin: 5px
  
}
#info3 {
  background-color: #1e1b1e;
  color: #fff;
  width: 200px;
  height: 400px;
  padding: 0 15px 15px;
  text-align: center;
  margin: 5px
 
  
}
#info4 {
  background-color: #1e1b1e;
  color: #fff;
  width: 200px;
  padding: 0 15px 15px;
  text-align: center;
  margin: 5px
}

#info5 {
  background-color: #1e1b1e;
  color: #fff;
  width: 200px;
  padding: 0 15px 15px;
  text-align: center;
  min-height: auto;
  margin: 5px;
  height: 400px;
}

#info6 {
  background-color: #1e1b1e;
  color: #fff;
  width: 200px;
  padding: 0 15px 15px;
  text-align: center;
  height: 200px;
  margin: 5px
}

.opis {
  color: red;
}

#hotelName {
  text-transform: uppercase;
  text-align: center;
  font-size: 120%;
  margin-top: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
#hotelName2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 120%;
  margin-top: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}

#hotelName3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 120%;
  margin-top: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}

#hotelName4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 120%;
  margin-top: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}

#rooms {
  font-size: 440%;
  color: #ffb87a;
  display: inline-block;
  margin: 0;
}
#rooms2 {
  font-size: 440%;
  color: #ffb87a;
  display: inline-block;
  margin: 0;
}

#rooms3 {
  font-size: 440%;
  color: #ffb87a;
  display: inline-block;
  margin: 0;
}
#hotel1 {
  margin-top: 1em;
  border-top: 1px solid #fff;
  padding-top: 1em;
}
#hotel2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 1em;
}

.true,
.false {
  padding: 0 50px 0 50px;
  line-height: 28px;
  text-align: left;
  background-image: url("/IMG/check-cross.png");
  background-position: 120px 0;
  background-repeat: no-repeat;
}

.false {
  background-position: 120px -28px;
}

#footer {
  
  text-align: center;

  width: 100%;
  background-color: #b97b41;
}

#footer2 {
  
  text-align: center;
  width: 100%;
  background-color: #b97b41;
}

#footer p {
  margin: 0;
}

#footer2 p {
  margin: 0;
}
